/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: red;
}

/* -------------------
** Nav bar styles
-------------------- */ 

.navbar {
	margin-bottom: 0;
}

/* ------------------
** Grid and panelling
------------------- */

.well {
	margin-bottom: 3px;
	border-radius: 0;
}

.htk-panel {
	padding: 0px 5px 5px 5px;
}

.htk-panel-spread {
	padding: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: auto;
        width: auto;
    }

    .htk-panel,
    .htk-panel-spread {
		padding-left: 0px;
	}
	
	.htk-panel-spread:first-child {
		padding-left: 20px;
	}
	
	.htk-panel:first-child {
		padding-left: 5px;
	}
}