.thing-form {
    margin: 20px 0;
}

#banner {
    margin-bottom: 20px;
    height: 350px;
    background: url('/assets/images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .overlayText {
    background: rgba(255,255,255,.8);
    color: black;
    border-radius: 2px;

}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner p {
    font-size: 16px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

@media (min-width: 768px) {

    .newsFeedList dt{
        width: 130px;
        padding-right: 10px;
    }

    .newsFeedList dd{
        margin-left: 130px;
    }
    
}

